
* {
   margin: 0;
   padding: 0;
}



/*---------------------------*/

header {
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../resource/img/furniture/banner_1.jpg");

    color: white;
}

#header_content {
    padding: 0 20%;
}

#header_menubar div {
    display: inline;
    font-family: "sandoll neo1";
}

#header_menu {
    position: absolute;
    left: 20%;
    top: 60px;
}
#header_gnb {
    position: absolute;
    right: 20%;
    top: 60px;
}

#header_logo {
    width: 100px;
    height: 200px;
    background-color: lavender;
    position: absolute;
    left: 50%;
    margin-left: -50px;

}


#header_menu div {
    display: inline;
    font-size: 18px;
    margin-right: 40px;
    margin-top: 60px;
}

#header_gnb div {
    display: inline;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 60px;
}



#header_intro {
    font-family: "카페24 고운밤";
    position: absolute;
    top: 500px;
}





div#main {
    background-color: azure;
}

div#container_bastitem {
    background-color: beige;
}

div#container_todaydesigner {
    background-color: bisque;
}

div#container_banner {
    background-color: cornsilk;
}

div#container_review {
    background-color: darksalmon;
}

div#container_list {
    background-color: gainsboro;
}

div#container_blankspace {
    background-color: honeydew;
}

div#container_apply {
    background-color: ivory;
}