
* {
   margin: 0;
   padding: 0;
}



/*---------------------------*/

header {
    width: 100%;
    height: 1140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../resource/img/furniture/banner_1.jpg");

    color: white;
}

#header_content {
    padding: 0 20%;
}

#header_menubar div {
    display: inline;
    font-family: "Noto Sans KR";
}

#header_menu {
    position: absolute;
    left: 19%;
    top: 60px;
}

#header_menu div {
    display: inline;
    font-size: 18px;
    margin-right: 40px;
    margin-top: 60px;
}

#header_logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -100px;
    margin-top: -30px;
    filter: invert(92%) sepia(0%) saturate(7497%) hue-rotate(36deg) brightness(110%) contrast(100%);

}

#header_gnb {
    position: absolute;
    right: 19%;
    top: 60px;
}

#header_gnb ul li img {
    margin-top: 5px;
    height: 20px;
    filter: invert(92%) sepia(0%) saturate(7497%) hue-rotate(36deg) brightness(210%) contrast(100%);
}

#header_gnb_login {
    text-align: center;
    height: 30px;
    width: 50px;
}

#header_gnb ul {
    list-style: none;
}

#header_gnb ul li {
    text-align: center;
    float:left;
    margin-left: 60px;
    font-size: 18px;
}



#header_intro {
    font-family: "카페24 고운밤";
    position: absolute;
    top: 390px;
    left: 19%;
    font-size: 50pt;
}

#header_intro #short_line {
    margin-top: 40px;
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 30px;
}





#main {
    font-family: "Noto Sans KR";
}

#main .container {
}




.conteiner_title {
    font-size: 50px;
    font-weight: bold;
}

.conteiner_title_short_line {
    width: 40px;
    height: 3px;
    background-color: gray;
    border-radius: 30px;
}


/*####################################*/

#container_bestitem {
    margin-top: 200px;
    height: 1700px;
}

#bestitem_list {
    position: absolute;
    left: 19%;
}

#bestitem_category div {
    width: 115px;
    font-size: 18px;
    padding: 4px 0 4px 25px;
    border-radius: 30px;
    border: #616161 solid 3px;
    margin-bottom: 20px;
    
}

#bestitem_table {
    background-color: #616161;
    color: white;
}

#bestitem_drawer, #bestitem_frame, #bestitem_acc {
    background-color: white;
    color: #aaaaaa;
}


#bestitem_items {
    position: absolute;
    right: 19%;
}

#bestitem_items table tr td img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

#bestitem_items_more {
    position: absolute;
    right: 0;
    margin: 10px;
    color: lightgray;
    font-size: 18px;

}






/*####################################*/



#container_todaydesigner {
    height: 1700px;
}

#todaydesigner_title_area {
    position: absolute;
    left: 19%;

}

#mimi_baby {
    position: absolute;
    right: 430px;

    width: 540px;
    height: 490px;
    border-radius: 5px;
}

#non_d {
    position: absolute;
    right: 995px;
    margin-top: 260px;

    width: 390px;
    height: 570px;
    border-radius: 5px;

}

#dada_3 {
    position: absolute;
    right: 430px;
    margin-top: 580px;
    
    width: 540px;
    height: 400px;
    border-radius: 5px;

}


#black_bar {
    position: absolute;
    left: 405px;
    margin-top: 380px;

    background-color: #403731;
    width: 820px;
    height: 750px;
}

#white_area1 {
    position: absolute;
    left: 445px;
    margin-top: 420px;
    background-color: white;
    width: 740px;
    height: 670px;
}

#white_area2 {
    position: absolute;
    margin-top: 295px;
    left: 585px;
    background-color: white;
    width: 700px;
    height: 715px;
}

#mention_instargram {
    position: absolute;
    left: 505px;
    margin-top: 1020px;
    color: lightgray;
    font-size: 20px;
}









/*####################################*/









#container_banner {
    height: 650px;
    background-image: url("../resource/img/furniture/banner_3.jpg");
    background-position: 0 -550px;
    background-size: cover;
    filter: brightness(0.8);

}

#container_banner #banner {
    position: absolute;
    left: 20%;
}

#banner_text {
    margin-top: 200px;
    color: white;
    font-size: 48px;
}

#banner_button {
    margin-top: 100px;
    background-color: #ffffff55;
    width: 430px;
    height: 80px;
    border-radius: 50px;
}











/*####################################*/





#container_review {
    height: 1700px;
}

#review_list {
    margin-top: 640px;
    position: absolute;
    left: 19%;
}

#review_title_area {
    position: absolute;
    left: 19%;
    width: 500px
}

#review_items {
}

#review_items table tr td img {
    width: 400px;
    height: 510px;
    border-radius: 10px;
    margin: 10px;
}

#review_item_first {
    position: absolute;
    left: 310px;
    top: 0;
}

#review_item_second {
    position: absolute;
    left: 733px;
    top: 0;

}

#review_item_third {
    position: absolute;
    left: 1156px;
    top: 0;

}









/*####################################*/






#container_category {
    height: 700px;
}

#category_list { 
    height: 150px;
    width: 100%;
    padding: 50px 0;
    box-shadow: 0 0 10px lightgray ;
}

#category_items {
    height: 150px;
    width: 1300px;
    margin: 0 auto;
}

.category_item {
    width: 100px;
    height: 100%;
    text-align: center;
    display: inline;
    float: left;
    color: gray;
    font-size: 22px;

}

.category_item img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0 5px 5px lightgray ;
}

#category_item_bed, #category_item_closet, #category_item_shoerack, #category_item_desk 
, #category_item_chair, #category_item_narrowtable {
    margin-right: 100px;
}







/*####################################*/






#container_apply {
    width: 100%;
}

#hr {
    background-color: lightgray;
    height: 2px;
}

#apply_text {
    padding: 10px 20%;
    text-align: right;
    font-size: 22px;
    color: #aaaaaa;
}






/*####################################*/






footer {
    background-color: #f0f0f0;
    padding: 50px 350px 0;
    height: 600px;
}

#footer_logo {
    display: inline;
    width: 200px;
    filter: invert(92%) sepia(0%) saturate(7497%) hue-rotate(36deg) brightness(70%) contrast(100%);
}

#footer_logo img {
    width: 250px;
    height: 250px;
    float: left;
}

#footer_text {
    margin-left: 50px;
    margin-top: 50px;
    line-height: 40px;
    float: left;
    font-family: "Noto Sans KR";
    font-size: 21px;
    color: #aaaaaa;
}